{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">헬스체크 예약 시스템</h1>
        <p class="col-md-8 fs-4">오즈코딩스쿨 수강생 헬스체크 일정 관리 시스템입니다.</p>
        
        {% if user.is_authenticated %}
            {% if user.is_admin %}
                <a href="{% url 'admin_schedule' %}" class="btn btn-primary btn-lg">상담 일정 관리하기</a>
            {% else %}
                <a href="{% url 'create_consultation' %}" class="btn btn-primary btn-lg">상담 신청하기</a>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}

<!-- <div class="row">
    <div class="col-md-6">
        <h2>학생</h2>
        <p>자신의 트랙과 기수를 입력하고 상담 일정을 신청할 수 있습니다.</p>
        <ul>
            <li>원하는 날짜와 시간에 상담 신청</li>
            <li>본인 상담 일정 확인</li>
            <li>트랙별(FE/BE) 관리자와 상담</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>관리자</h2>
        <p>트랙별로 학생들의 상담 일정을 관리할 수 있습니다.</p>
        <ul>
            <li>기수별 상담 일정 확인</li>
            <li>트랙별 상담 일정 관리</li>
            <li>학생에게 상담 일정 배정</li>
        </ul>
    </div>
</div> -->
